:root {
    
    --links: #45a29e;
--buttonshover: #174d48;
--cardBackground: #174d48;
--buttons: #116466;
--background:#0b0c10;
user-select: none;
}

html {
    box-sizing: border-box;
   
}
*, ::before, ::after {

    box-sizing: inherit;


}
.card{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
   max-width: 70%;
   height: auto;
   margin: auto;
  

}
.card__header {
    background-color: var(--buttonshover);
    max-width: 100%;
    margin: 0;
    padding:0;

}

.card__header {
    text-align:center;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: underline;

}
.card-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    
   
}
aside[class*="card__aside"] {
 
 
}

aside img {
    background-size: cover;
    width: 100%;
    height:auto;
    object-fit: cover;
    background-position: center center;


}
.card__body-preparation h2 {
    margin: 1rem 0 0 1rem;
}
.card__body-ingredients{
    margin: 0 1rem 0 1rem;
}
footer[class*="card__footer"] {

    margin : 0.5rem 2rem 0.5rem 2rem;
    text-align: start;
}

.footer-container a {
     margin: 1rem;
    
}

footer a {
    text-decoration: none;
    margin-top: 1rem;
    

}
footer a:hover {
    color: var(--buttonshover);
    background-color: var(--background);
    

}

.steps-list {
    line-height: 1.5;
}
@media only screen and (min-width: 200px) and (max-width: 768px){


    .card {
        font-size: 85%;
    }
    .card-display {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        
        
       
    }

}