:root {
    background-color:#f5f5dc;
}

html {
    box-sizing: border-box;
}
*, ::before, ::after {

    box-sizing: inherit;


}

.card__header {
    text-align:center;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: underline;

}

