
:root {
--bodyColor: #0b0c10;
--footerColor: #1f2833;
--headerColor: #1f2833; 
--fontColor: #ffffff;
--links: #45a29e;
--buttonshover: #66fcf1;
--buttons: #116466;

}


html {

    box-sizing: border-box;
    color:var(--fontColor);
}


* , ::before , ::after {

    box-sizing: inherit;
}
body{
    background-color: var(--bodyColor);
}
#header {
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    border-width:2px;
    border-color: white;
    background-color: var(--headerColor);
    margin:0;
    padding: 1rem;
}