
:root {
--bodyColor: #0b0c10;
--footer: #1f2833;
--fontColor: #ffffff;
--links: #45a29e;
--buttonshover: #66fcf1;
--buttons: #116466;

}


html {

    box-sizing: border-box;
    color:var(--fontColor);
}


* , ::before , ::after {

    box-sizing: inherit;
}
body{
    background-color: var(--bodyColor);
}