
:root {
--bodyColor: #0b0c10;
--footerColor: #1f2833;
--headerColor: #1f2833; 
--fontColor: #ffffff;
--links: #45a29e;
--buttonshover: #174d48;
--buttons: #116466;

}


html {

    box-sizing: border-box;
    color:var(--fontColor);
    padding:0;
    margin:0;
    height: 100%;
}


* , ::before , ::after {

    box-sizing: inherit;
}
body{
   
    padding:0;
    margin:0;
    color:black;
    height: 100%;
   
}
#header {
    max-width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    border-width:10px;
    border-color: var(--headerColor);
    border-style: solid;
    background-color: var(--headerColor);
    margin:0;
    padding: 1rem;
    
}
/* logo */
 a[class*="logo-title"] {
    font-family: 'Comforter', cursive;
    font-size: 200%;
    text-decoration: none;
    font-weight:bolder;
    color: #0d1817;
}
/* submit recipe styling */
a[class*="header-link"]{
    color: white;
    text-decoration: none;
    font-size: 110%;
    font-weight:bolder;

}
a[class*="header-link"]:hover{
    color: var(--links);

}
/* submit recipe styling ends here */

/* navigation section styling */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #ffffff;
    max-width: 100%;
}
.nav__logo {
    padding: 1rem;
    

}
.nav__list {
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.nav__item {
    
    list-style-type: none;
    margin: 1.5rem;
    font-size: 110%;
    
}
a[class*="nav__link"]{
    text-decoration: none;
    color: var(--bodyColor);
    font-weight:bolder;
}
a[class*="nav__link"]:hover{
    color: var(--links);
}
a[class*="nav__link"]:focus{
    color: var(--links);

}


/* navigation styling ends here */

/* hero section styling */

.hero-container {
    height: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/hero3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.hero-text {
    color: white;
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 1rem;
    flex-direction: column;
    margin:auto;
    

}

.hero-title {
    font-size: 600%;
    font-weight: bolder;
    font-family: 'Comforter', cursive;
    margin: auto;
}
.hero-information {
    font-size: 110%;
    margin: auto;
    font-weight:bold;
    padding: 1rem;
}

/* hero section styling ends here */

/* main section */
main {
margin:0;
border:2px solid red;
}


/* main-section title */
.main-section-title {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 120%;
    font-weight: bolder;
    color: var(--bodyColor);
}

.cards {
    border: 5px solid pink;
    display: flex;
    justify-content: space-around;
    align-content:center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
}
article[class*="card"] {
    border: 2px solid blue;
    height: 300px;
    width: 18rem;
}




/* main section ends here */

